<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sharron Art</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/index.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<style>
p2 {
  color:black;
  font-family:verdana;

}
</style>
    <!-- Navigation -->
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/1.png" class="header-logo1">
                    <img src="images/2.jpg" class="header-logo2">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li>
                      <a href="index.html"><p2><b>主页</b></p2></a>
                  </li>
                  <li role="presentation" class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#" role="button" aria-haspopup="true" aria-expanded="false">
                       <p2><b>关于我们</b></p2> <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                       <li>
                          <a href="introduction/purpose.html">创办宗旨</a>
                       </li>
                      <li>
                         <a href="introduction/history.html">画院介绍</a>
                       </li>
                         <!--<li>
                         <a href="introduction/service.html">服务项目</a>
                       </li>-->
                       <li>
                         <a href="introduction/manage123.html">核心团队</a>
                       </li>
                     </ul>
                   </li>

                         <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              <p2><b>走进画院 </b></p2><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="introduction/activities.html">社团活动</a>
                                </li>
                                <li>
                                    <a href="introduction/awards.html">奖项荣誉</a>
                                </li>
                                <li>
                                    <a href="introduction/admit.html">录取剪辑</a>
                                </li>
                                <li>
                                    <a href="introduction/sharron.html">印象莎伦</a>
                                </li>                                                                
                                <li>
                                    <a href="introduction/halloffame.html">校友名人堂</a>
                                </li>
                            </ul>
                          </li>


                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                              <p2><b>服务项目</b></p2> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="education/Course.html">平日课程</a>
                              </li>
                             <li>
                                <a href="education/specialplan.html">假期特别计划</a>
                              </li>
                                <li>
                                    <a href="education/studyplan.html">国际学生</a>
                                </li>
                                <li>
                                <a href="education/applyuniversities.html">申请大学</a>
                              </li>
                            </ul>
                          </li>


                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             <p2><b> 莎伦分享</b></p2> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                <a href="introduction/share1.html">莎伦谈教育</a>
                              </li>
                             <li>
                                <a href="introduction/share2.html">莎伦论生活</a>
                              </li>
                            </ul>
                          </li>

                        <li>
                            <a href="introduction/contact.html"><p2><b>联系我们</b></p2></a>
                        </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- text header -->

    <section class="header-heading">
        <hr>
    </section>


    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
        <div class="container">


            <div class="ultracontainer">

                <div id="demo" class="index-demo" style="OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 50px;">
                    <div id="demo1" style="width:100%;">

                                           <marquee>{{msgs}}</marquee>

                   </div>
                </div>


            </div>
        </div>
    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">

            <div class="index-left">
            <div class="col-sm-10 col-md-8">

                <div class="row margin-bot">

                <div class="col-sm-12 col-md-12">

                    <div classs="embed-reponsive embed-responsive-16by9">
                            <embed src="http://www.tudou.com/v/YfwlAfE_wao/&bid=05&rpid=1138649184&resourceId=1138649184_05_05_99/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="695" height="450"></embed>
                            <!--<iframe class="embed-responsive-item index-video" src="http://www.tudou.com/v/YfwlAfE_wao/&bid=05&rpid=1138649184&resourceId=1138649184_05_05_99/v.swf" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                </div>


                </div>
                <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img class="indeximage" height="169" src="images/index/1.jpg" >
                    <h4>选择莎伦画院的原因</h4>
                    <p style="transition:0.5s">为什么莎伦师生连续两年同获＂美国总统文化艺术委员会＂嘉奖，并受邀在美国教育部展出；为什么2015年第93届全美Scholastic艺术大赛由莎伦画院襄括232项State金银匙奖,及14项国家金银匙奖；为什么2015年全世界美国学校系统的30万青年艺术家参赛作...</p>

                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="introduction/index/index_1.html">更多 &raquo;</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="images/index/2.jpg" height="169" class="indeximage">
                    <h4>莎伦学生吕思瑶－美国新生代最杰出的画家代表</h4>
                    <p>纽约日报（New York Daily News）在1919年创办，每天有100万读者，是美国第4大报。该报在2015年11月28日，以彩色整版专访报导了莎伦学生吕思瑶，并且刊登及介绍了8幅她的油画创作画。做为30万参赛人中唯一的中选者，美国教育部在给予她的信中称其为＂美国新生代最杰出的画家代表＂...</p>

                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="introduction/index/index_2.html">更多 &raquo;</a>
                    </p>
                </div>
            </div>


                 <div class="row">
                <div class="col-sm-6">
                    <img src="images/index/3.jpg" height="169" class="indeximage">
                    <h4>2017年莎伦学生大学录取统计、名录及趋势分析</h4>
                    <p>美国地广人稀，艺术中心、艺术培训机构，每年如果有超过十位学生成功申请大学，就已经算是大规模的了。所以包括Art Center招生官在内的大学官方人士、社会人士、学生家长，听到莎伦画院每年有七、八十位学生成功申请欧美顶尖大学...</p>

                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=504698081&idx=1&sn=fd8345b8abe4c44d7878227e3f0af313&chksm=04588dd3332f04c507ece8c60a131f81d0aed4993b6ddd9bbca330e2d54f44a1d58629d1d9a9&scene=20&pass_ticket=hTqJ9HxrD%2B639t2AdnqZ9qnnpjYPL69yirrzSWtTQBqtQuBasBf7giFbx%2BthJcaZ#rd">更多 &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="images/index/4.jpg" height="169" class="indeximage">
                    <h4>艺术令我走红常青藤</h4>
                    <p>每一年的五、六月份都是美国大学的毕业季。在美国长青藤盟校中，普林斯顿大学的毕业活动也许是最温馨和最疯狂的。令人难以置信的是，普大的传统可以如此巧妙地将学生们离开学校时的眷恋和兴奋编织到一个四天的活动中释放...</p>
                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652182004&idx=1&sn=1f8698629501e66e39a12c8758a0d268&chksm=84588cc6b32f05d0680b66f492e113e6bf39645a430f8df8cf359d46fbaca1513c80449dd223&mpshare=1&scene=1&srcid=0804bAPGH04kVXk4PHSOH1WF&pass_ticket=buhoIIL2tIQMj5fOnRDjTp5qDgFzl5OQFsNWAdNsxXGqJeyhGupk%2BX1zm3d95uXI#rd">更多 &raquo;</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="images/index/5.jpg" height="169" class="indeximage">
                    <h4>2017 Scholastic国家级颁奖盛典 莎伦学子再获14项金银奖</h4>
                    <p>2017年，包括美国各州和海外的莎伦学生共获得244项 Scholastic艺术大赛地区金匙奖、银匙奖......在此基础上，莎伦学生还获得至少7项国家级艺术金奖， 6项国家级艺术银奖，1项美国远景大奖...</p>

                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181793&idx=1&sn=886e383e89858e7ea9cce55c2808ba24&chksm=84588c13b32f0505053657c50ef2c8b088e53af54c5e2585efc801434aebdb8ad3baf0561960&mpshare=1&scene=1&srcid=08040KEDeBo5DpAPy7YHzv8z&pass_ticket=buhoIIL2tIQMj5fOnRDjTp5qDgFzl5OQFsNWAdNsxXGqJeyhGupk%2BX1zm3d95uXI#rd">更多 &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="images/index/6.jpg" height="169" class="indeximage">
                    <h4>莎伦昔日国会艺术大赛大奖得主今何在？</h4>
                    <p>今年母亲节当天，莎伦院长至少收到三位莎伦学生荣获2017年美国国会艺术大赛第一名的好消息。以一向经验，还有些莎伦学生淡然得从来不告知老师他们得奖了，所以每一次得奖的统计都无法完整...</p>
                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181714&idx=1&sn=f5aef809ded3fd6e12803214ae984e2d&chksm=84588de0b32f04f6bbeabea3adfab1bc198fd6c40c60ee155f87ec36d762f256f7f4fad414f2&mpshare=1&scene=1&srcid=0804hUYtHA92SMFr7isUXP14&pass_ticket=SVaUz8HcLWjpJDUNQZ6muRxXkQHgYfDvZ%2FV0mV0Y9Q7l7ZkCmB3LFkheIQsnBdmM#rd">更多 &raquo;</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="images/index/12.jpg" height="169" class="indeximage">
                    <h4>什么样的美国新兴设计类专业炙手可热及实际解答</h4>
                    <p>有一位澳大利亚银行驻中国的高级主管送儿子到美国莎伦学画。从未学过画画的儿子在莎伦画院学了一个星期以后就迷上了绘画，立志大学要读艺术。回家跟家长商量，父母都是银行家、金融专家，表示非常支持...</p>

                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181657&idx=1&sn=b74a1b9751491677b4a6fa9db7143d7e&chksm=84588dabb32f04bd1028bd29b0ef7ca0ab94eea1162aa54eff94c7676ceabc63b4614635296a&mpshare=1&scene=1&srcid=080481b9rlM1lOfCAvUVU5Zf&pass_ticket=SVaUz8HcLWjpJDUNQZ6muRxXkQHgYfDvZ%2FV0mV0Y9Q7l7ZkCmB3LFkheIQsnBdmM#rd">更多 &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="images/index/13.jpg" height="169" class="indeximage">
                    <h4>全球最顶尖的艺术中心设计学院与莎伦画院达成合作共识</h4>
                    <p>11月11日，全球最顶尖的艺术中心设计学院( ArtCenter College of Design.）招生总监David Salow如期光临莎伦画院South Brunswisk总校，与莎伦画院院长、高级教育经理、莎伦艺术教育集团CEO等会谈。会谈成果颇丰，达成多项合作共识...</p>
                    <p>
                        <a class="btn btn-default btn-lg btn-more" href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181107&idx=1&sn=117138258f0c05e5bb2768dc1faeac37&chksm=84588b41b32f0257831f2dd3ac3e672552090200f61ca78679e42ec5144e70c7453acb18d304&mpshare=1&scene=1&srcid=08049U8I7gKtkJZ2SGYr9M5E&pass_ticket=buhoIIL2tIQMj5fOnRDjTp5qDgFzl5OQFsNWAdNsxXGqJeyhGupk%2BX1zm3d95uXI#rd">更多 &raquo;</a>
                    </p>
                </div>
            </div>
            </div>

            </div>

            <div class="col-md-4 col-sm-2">

                     <ul class="sub-news-container">
                        <h2>Latest News</h2>
                         <li class="sub-news-li"><a href="introduction/enroll_message.html"><img class="showcase-img-circle sub-news-image" src="images/index/unnamed.jpg"></a>
                             <p>
                                <br>
                                 报名信息</p>
                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652182050&idx=1&sn=eb9bcc4897dac4fa99ae995a7f155bf7&chksm=84588f10b32f0606171f6caefde49f3591774a656d75031bd870056e12ec0172456ce19de054&mpshare=1&scene=1&srcid=0802wWYxEHss5gXx8ocYxhYw&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/6.jpg">


                                  <p>开营第七周：
                                     <br>
                                     思想的突破 作品集的提升</p>


                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652182037&idx=1&sn=019a5ae93d3e74538633f72d80997855&chksm=84588f27b32f06313f3bcdb84b4c10eb7221b590e86c4c46c4b7d2d636c4b78d0f2a82eb2ea0&mpshare=1&scene=1&srcid=0802i7PzITqA1kijPscQGBRC&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/7.jpg">


                                  <p>
                                     <br>
                                     对话全球排名第一的医疗建筑设计跨国公司金牌设计师</p>


                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652182026&idx=1&sn=3b12d4ff25bae2f0154e64b41c21e02e&chksm=84588f38b32f062eac6686db844238b4bc044ee7ba7e603d870f9bff944cfe632eb3092ab14e&mpshare=1&scene=1&srcid=08026oVWzpZjxj2L0VDRnS6x&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/8.jpg">


                                  <p>开营第六周：
                                     <br>
                                     莎伦海外家长会成立 助力国际生全面发展</p>


                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652182004&idx=1&sn=1f8698629501e66e39a12c8758a0d268&chksm=84588cc6b32f05d0680b66f492e113e6bf39645a430f8df8cf359d46fbaca1513c80449dd223&mpshare=1&scene=1&srcid=0802tXQDol9YorAC0v3h5168&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/9.jpg">


                                  <p>
                                     <br>
                                     艺术令我走红常青藤</p>


                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181990&idx=1&sn=9cf8c1613fe8b80d59258274d83494bc&chksm=84588cd4b32f05c2946079cf901c66dfd79f28ada0802be8b05648ffe75e9b637dc5586ac2ef&mpshare=1&scene=1&srcid=0802B4QOuVdGoxUOWB1Lz9md&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/10.jpg">


                                  <p>开营第五周：
                                     <br>
                                     上海小学生犹如爱的使者 点燃暑期营的热情烈火</p>


                         </li>
                          <li class="sub-news-li"><a href="https://mp.weixin.qq.com/s?__biz=MzA3OTA2NTE4MQ==&mid=2652181961&idx=1&sn=b6cefa8627cb675432a09b2593eb5b4c&chksm=84588cfbb32f05edddcd00e0d7e462bc02aea4068c27985e4024ff02926dc051b53acb983301&mpshare=1&scene=1&srcid=0802SAp08rceSD3onLCSggZ0&pass_ticket=jlequOO1WnQynfT6DJ5tXXwmMnXufWyGhjf56XNrTXDoCy4dH%2Bo3wAPfrTBX4x7j#rd"><img class="showcase-img-circle sub-news-image" src="introduction/index/11.jpg">


                                  <p>开营首月
                                     <br>
                                      家长反馈</p>


                         </li>

                    </ul>



            </div>


        <!-- /.row -->
        </div>

        <br>
        <br>
        <style>
        p1 {
          display: block;
          margin-top: -12px;
          margin-left: 0;
          margin-right: 0;
          font-size:25px;
        }     
        </style>
        <div class="row">

            <div class="col-sm-4">
                <h3><span class="label label-default">新泽西州长期学生继续报名请点此链接</span></h3>
                <p1>
                    <a href="https://sharronartcenter.com/">sharronartcenter.com</a>
                </p1>
            </div>
        </div>


        <section class="margin-bottom"> </section>

        <!-- Footer -->
        <footer>

        <div class="footerbanner">
            <div class="container">
            <div class="row">

            <div class="col-md-4">
                <div class="col-xs-12">
                    <img src="images/3.png" class="bottom-logo">
                    <img src="images/logo1.png" class="bottom-logo">
                    <img src="images/logo2.png" class="bottom-logo">
                </div>
            </div>
            <div class="col-md-8">
            <p class="footer-text">Copyright © 2016 www.sharronart.com, www.urbansharron.com, www.sharronartcenter.com
All artworks original, all rights reserved, do not plagiarize. Do not use text without permission.
版權 © 2016 www.sharronart.com, www.urbansharron.com, www.sharronartcenter.com 所有藝術作品皆為原創 版權所有。盜用必究。 文字非經同意不得轉載。</p>
            </div>
            </div>
            </div>

            </div>
        </footer>


    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- carousel js -->
    <script src="/js/carousel.js"></script>

</body>

</html>
